<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Find the best restaurants, read reviews, and plan your next culinary adventure"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Meal Map" />
    <meta name="theme-color" content="#F5B700" />
    <title>MealMap</title>
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <script
      src="https://kit.fontawesome.com/bf5f14572f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="#main-section" class="skip-link">Menuju ke konten</a>
    <header>
      <navigation-bar></navigation-bar>
      <hero-section></hero-section>
    </header>
    <main id="main-section"></main>
    <footer-custom></footer-custom>
  </body>
</html>
